{% extends 'noname/base2.html' %}
{% block content %}
    <form method="post" autocomplete="off">
     <div class="container text-center">
   <h2>Logowanie</h2>
         <br>
       {% csrf_token %}

    {{ form.username.label }}
    <br>
        {{ form.username }}
        <br><br>
        {{ form.password.label }}
        <br>
        {{ form.password }}
        <br><br>
         <br>
       <button type="submit">Zaloguj</button>
    <br><br><br>
  <a href=/signup/>Nie masz konta? Zarejestruj się</a>
         </div>
    </div></form>
{% endblock %}

{# todo ładny formularz - w ramce #}