<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'noname/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
        {% if request.user.is_authenticated %}
            <nav class="navbar navbar-default navbar-fixed-top">
  <div id="top" class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">BUDGIE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">GŁÓWNA</a></li>
        <li><a href="/list">LISTA</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">DODAJ
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/add_income/">Dodaj przychód</a></li>
            <li><a href="/add_expense">Dodaj wydatek</a></li>
          </ul>
        </li>
        <li><a href="{% url 'logout' %}">WYLOGUJ</a></li>
      </ul>
    </div>
  </div>
</nav>
            <span class="glyphicon glyphicon-user"></span> {{ request.user }}
        {% else %}<br>
            <br><a href="{% url 'login' %}">Zaloguj</a>
        {% endif %}
    {% block content %}
    {% endblock %}
<footer class="text-center">
  <p>Theme Made by Kaja Machalska</p>
    </footer>
</body>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
    $.getJSON("/json", function (json) {
        //console.log(json.all);
        var data = google.visualization.arrayToDataTable(json);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'', 'width':450, 'height':450, colors: ['#173939',
'#1a4346',
'#255f63',
'#2c7478',
'#306c7d',
'#3d9ea5',
'#42acb4',
'#58e6f0',
'#3ebfaf',
'#57b8c0']};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
    });



}
</script>
</html>
