{% extends 'noname/base.html' %}
{% block content %}

<form method="POST" action=" ">
<br>
    <div class="text-center prgs">
        <h4>Zdrowie ogółem: {{ sum|floatformat:2 }}</h4>
    <br><br>
    Lekarz: {{ doc|floatformat:2 }} <br>
        Badania: {{ medical|floatformat:2 }}<br>
        Leki: {{ medicine|floatformat:2 }} <br>
    <br><br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <h4>Inne kategorie:</h4>

        <ul class="pagination">
  <li><a href="/jedzenie">Jedzenie</a></li>
  <li><a href="/dom">Dom</a></li>
  <li><a href="/transport">Transport</a></li>
  <li><a href="/komunikacja">Komunikacja</a></li>
  <li class="active"><a href="/zdrowie">Zdrowie</a></li>
            <li><a href="/ubranie">Ubrania</a></li>
  <li><a href="/kosmetyki">Kosmetyki</a></li>
  <li><a href="dzieci">Dzieci</a></li>
            <li><a href="/rozrywka">Rozrywka</a></li>
  <li><a href="/inne">Inne</a></li>
</ul>
    </div>
</form>
{% endblock %}