{% extends 'noname/base.html' %}
{% block content %}

<form method="POST" action=" ">
<br>
    <div class="text-center prgs">
        <h4>Dom ogółem: {{ sum|floatformat:2}}</h4
    <br><br>
    Czynsz: {{ rent|floatformat:2 }} <br>
        Woda: {{ water|floatformat:2 }}<br>
        Prąd: {{ energy|floatformat:2 }} <br>
        Gaz: {{ gas|floatformat:2 }} <br>
    Ogrzewanie: {{ heat|floatformat:2 }}
    <br>
    Wywóz śmieci: {{ garb|floatformat:2 }} <br>
        Naprawy: {{ repair|floatformat:2 }}<br>
        Wyposażenie: {{ equip|floatformat:2 }} <br>
        Ubezpieczenie: {{ insurance|floatformat:2 }} <br>
        <br><br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
    <h4>Inne kategorie:</h4>

        <ul class="pagination">
  <li><a href="/jedzenie">Jedzenie</a></li>
  <li class="active"><a href="/dom">Dom</a></li>
  <li><a href="/transport">Transport</a></li>
  <li><a href="/komunikacja">Komunikacja</a></li>
  <li><a href="/zdrowie">Zdrowie</a></li>
            <li><a href="/ubranie">Ubrania</a></li>
  <li><a href="/kosmetyki">Kosmetyki</a></li>
  <li><a href="dzieci">Dzieci</a></li>
            <li><a href="/rozrywka">Rozrywka</a></li>
  <li><a href="/inne">Inne</a></li>
</ul>
    </div>
</form>
{% endblock %}