{% extends 'noname/base.html' %}

{% block content %}
<form method="POST" action=" ">
    {% csrf_token %}
      <div class="container prgs">
          <div class="text-center">
              <div class="page-header">
              <h3>{{ month }}</h3>
              </div>
          </div>
      </div>
<div class="row">
    <div class="col-sm-6">
    <div class="prgs text-center">
        <h4> {{ income|floatformat:2 }} </h4>
        <h4>Przychody</h4>
        <span class="glyphicon glyphicon-download logo-small"></span>
    </div>
    <br>
    <table class="table">
    {% for i in allIncome %}
        <tr>
            <td>{{ i.amount|floatformat:2}}</td>
            <td>{{ i.get_category_display }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.comment }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="col-sm-6">
    <div class="prgs text-center">
        <h4>{{ expense|floatformat:2 }}</h4>
        <h4>Wydatki</h4>
        <span class="glyphicon glyphicon-upload logo-small"></span>
    </div>
    <br>
    <table class="table">
        {% for i in allExpenses %}
        <tr>
            <td>{{ i.amount|floatformat:2}}</td>
            <td>{{ i.get_category_display }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.comment }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
</form>
    {% endblock %}

{# todo usuwanie/edycja w wyskakujacym okienku #}
{# todo  bootstrap filter #}