{% extends 'noname/base.html' %}

{% block content %}
<form method="POST" action=" ">
    {% csrf_token %}
    <table class="table">
    {% for i in allIncome %}
        <tr>
            <td>{{ i.amount|floatformat:2}}</td>
            <td>{{ i.get_category_display }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.comment }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <br>
    <table class="table">
        {% for i in allExpenses %}
        <tr>
            <td>{{ i.amount|floatformat:2}}</td>
            <td>{{ i.get_category_display }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.comment }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="/home">Wróć</a><br>
</form>
    {% endblock %}