{% extends 'noname/base.html' %}
{% block content %}

<form method="POST" action=" ">
<br>
       Transport ogółem: {{ sum|floatformat:2 }}
    <br><br>
    Paliwo: {{ gas|floatformat:2 }} <br>
        Wyposażenie: {{ equip|floatformat:2 }}<br>
        Naprawy: {{ repair|floatformat:2 }} <br>
    Ubezpieczenie: {{ insurance|floatformat:2 }} <br>
        Bilety: {{ ticket|floatformat:2 }} <br>
    Taxi: {{ taxi|floatformat:2 }}
    <br>
    <br>
<a href="/home">Wróć</a><br>
</form>
{% endblock %}